server:
  port: 8060
  error:
    include-message: always
    include-binding-errors: always
spring:
  application:
    name: spring
  config:
    import: optional:configserver:http//localhost:8761/
  main:
    web-application-type: servlet

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true
logging:
  level:
    root: info
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

